<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ポイ活一覧</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../backend/plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../backend/styles/common.css" />
  <link rel="stylesheet" href="../backend/styles/page.css" />
  <style>
    #member-app  .notAdmin::after{
      border: 0 !important;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
    }

    .head-lable {
      font-size: 24px;
    }

    .right-menu {
      display: flex;
      align-items: center;
    }

    .avatar-wrapper {
      margin-right: 10px;
    }

    .outLogin {
      cursor: pointer;
      height: 24px;
      width: 24px;
    }
  </style>
</head>
<body>
  <div class="dashboard-container" id="member-app">

    <div class="navbar">
      <div class="head-lable">
        <span>{{headTitle}}</span>
      </div>
      <div class="right-menu">
        <div class="avatar-wrapper">{{ this.user.name }}</div>
        <img src="../backend/images/icons/btn_close@2x.png" class="outLogin" alt="ログアウト" @click="logout" />
      </div>
    </div>

    <div class="container">
      <div class="tableBar">
        <el-input v-model="storeName" placeholder="店舗名" style="width: 250px;margin-right: 10px;"></el-input>
        <el-input v-model="description" placeholder="支払い手段など" style="width: 250px;margin-right: 10px;margin-left: 0;"></el-input>
        <el-button @click="handleQuery" class="dalfBut" style="margin-left: 0;">探す</el-button>
        <el-button type="primary" @click="toStores()">店舗一覧</el-button>
        <el-button type="primary" @click="toFavourite()">お気に入りのキャンペーン</el-button>
      </div>
      <el-table
        :data="tableData"
        stripe
        class="tableBox"
      >
        <el-table-column
          label="キャンペンーン内容"
          width="160"
          align="left"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="toDiscountDetail(scope.row)"
              style="white-space: normal; word-wrap: break-word; color: blue"
            >
              {{ scope.row.description }}
            </el-button>
          </template>
        </el-table-column>

        <el-table-column
          prop="start"
          label="開始日"
        ></el-table-column>
        <el-table-column
          prop="end"
          label="終了日"
        ></el-table-column>
        <el-table-column
          prop="maxAmount"
          label="上限額"
        ></el-table-column>
        <el-table-column label="対象店舗">
          <template slot-scope="scope">
            <div v-for="store in scope.row.storeList">
              {{ store.name }}
            </div>
          </template>
        </el-table-column>
        <el-table-column
          prop="balanceAmount"
          label="上限額までの金額"
        ></el-table-column>
        <el-table-column
          label="お気に入り"
          width="160"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="primary"
              size="big"
              @click="isFavouriteHandle(scope.row)"
            >
              <i v-if="scope.row.isFavourite === 0" class="el-icon-star-off"></i>
              <i v-else class="el-icon-star-on"></i>
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        class="pageList"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="counts"
        :current-page.sync="page"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../backend/plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../backend/plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../backend/plugins/axios/axios.min.js"></script>
    <script src="js/request.js"></script>
    <script src="../backend/api/discount.js"></script>
    <script src="../backend/api/login.js"></script>
    <script src="api/favourite.js"></script>
    <script>
      new Vue({
        el: '#member-app',
        data() {
          return {
             user: {},
             storeName: '',
             description: '',
             counts: 0,
             page: 1,
             pageSize: 10,
             tableData : [],
             id : '',
             isFavourite : '',
             headTitle: 'キャンペーン一覧',
          }
        },
        computed: {},
        created() {
          this.init()
          this.user = JSON.parse(localStorage.getItem('userInfo'))
        },
        mounted() {
        },
        methods: {
          async init () {
            const params = {
              page: this.page,
              pageSize: this.pageSize,
              name: this.storeName ? this.storeName : undefined,
              description: this.description ? this.description : undefined
            }
            await getDiscountListForUser(params).then(res => {
              if (String(res.code) === '1') {
                this.tableData = res.data.records || []
                this.counts = res.data.total
              }
            }).catch(err => {
              this.$message.error('リクエストエラー：' + err)
            })
          },
          handleQuery() {
            this.page = 1;
            this.init();
          },
          logout() {
            logoutApi().then((res)=>{
              if(res.code === 1){
                localStorage.removeItem('userInfo')
                window.location.href = '/front/page/login/login.html'
              }
            })
          },
          isFavouriteHandle (row) {
            this.id = row.id
            if (row.isFavourite === 0) {
              addFavourite({ 'userId': this.user.id, 'discountId': this.id }).then(res => {
                if (String(res.code) === '1') {
                  this.$message.success('お気に入りに入れました')
                  this.handleQuery()
                }
              }).catch(err => {
                this.$message.error('リクエストエラー：' + err)
              })
            } else {
              deleteFavourite({ 'userId': this.user.id, 'discountId': this.id }).then(res => {
                if (String(res.code) === '1') {
                  this.$message.success('お気に入りから外しました')
                  this.handleQuery()
                }
              }).catch(err => {
                this.$message.error('リクエストエラー：' + err)
              })
            }
          },
          toDiscountDetail(row) {
            this.id = row.id
            window.location.href = '/front/page/discount/detail.html?id=' + this.id
          },
          handleSizeChange (val) {
            this.pageSize = val
            this.init()
          },
          handleCurrentChange (val) {
            this.page = val
            this.init()
          },
          toStores() {
            window.location.href = '/front/page/store/list.html'
          },
          toFavourite() {
            window.location.href = '/front/page/favourite/discount.html'
          }
        }
      })
    </script>
</body>
</html>